:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --accent-hero-color: #188ce8;
    --logo-color: #000000;
    --white-color: #ffffff;
    --ashen-color: #f5f4fa;
    --background-color: #f5f5f5;
    --hero-bgd-color: #2f303a;
    --header-border-color: #ececec;
    --portfolio-border-color: #eeeeee;
    --icon-color: #afb1b8;
}